.title {
  text-align: center;
}
 
 
.first-table {
  text-align:center;
}

.table_cell{
  padding:20px 0px 20px 0px;
  width:33.07%;
  border:1.7px solid;
  border-color:blue;
  float:left;
  background-color:#e6f3ff;
}

.second-table {
  float:center;
  text-align:center;
  margin:150px 100% 50px 6%;
  background-color:lightgray;
  width:85%;
}

.lists h1{
  text-align:center;
}

.lists{
  width:50%;
  height:230px;
  float:left;
}

#circle{
  border: solid 2px;
  border-radius:100%;
  height: 250px;
  width:250px;
  background-color:green;
  margin:100px 9.5% 50px 9.5% ;
  float:left;
}

#square{
  float:left;
  height:250px;
  width:250px;
  margin: 100px 9.5% 50px 9.5%;
  border:2px solid black;
  background-color:purple;
  
}

#rabbit{
  float:left;
  height:250px;
  width:250px;
  margin: 100px 9.5% 50px 9.5%;
  border:2px solid blue;
  background:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTivnIdUYKH2mv7Ioxw0FBTKdckPBENSnXMHoxUvglYGVoFMG63);
  background-size:cover;
}